---
import Layout from '../../layouts/DemoFFLayout.astro';
import Card from '../../components/demoFF/Card.astro';
import Carrusel from '../../components/demoFF/Carrusel.astro';
import Hero from '../../components/demoFF/Hero.astro';

import hamburgesa from '../../components/demoFF/img/hamburguesa.jpg'
import hamburgesaCPapas from '../../components/demoFF/img/hamburguesa-papas.jpg';
import papas from '../../components/demoFF/img/papas.jpg';
import soda from '../../components/demoFF/img/refresco.jpg';
import aguacate from '../../components/demoFF/img/aguacate.jpg';
---

<Layout title="Fast Burger - Inicio">
	<main>
		<Hero></Hero>

		<section id="popular" class="section container">
			<h2 class="section-title">Lo Más Popular</h2>
			<div class="grid">
				<Card 
					title="Hamburguesa Clásica"
					description="Nuestra receta original con carne 100% de res, lechuga y tomate."
					price="$79.99"
					img={hamburgesa}
					altText="Hamburguesa clásica"
				/>
				<Card 
					title="Papas Fritas"
					description="Crujientes y doradas, el acompañamiento perfecto."
					price="$25.50"
					img={papas}
					altText="Papas fritas"
				/>
				<Card 
					title="Refresco Grande"
					description="Elige tu sabor favorito de nuestra barra de refrescos."
					price="$30.00"
					img={soda}
					altText="Refresco grande"
				/>
			</div>
		</section>

		<Carrusel></Carrusel>

		<section id="menu-corto" class="section container">
			<h2 class="section-title">Nuestro Menú</h2>
			<div class="grid">
				<Card 
					title="Hamburguesa de Pollo"
					description="Pechuga de pollo empanizada y aderezos especiales."
					price="$65.50"
					img={hamburgesa}
					altText="Hamburguesa de pollo"
				/>
				<Card 
					title="Burrito"
					description="Carne asada, frijoles y guacamole en una tortilla de harina."
					price="$80.00"
					img={aguacate}
					altText="Burrito"
				/>
				<Card 
					title="Pizza Personal"
					description="Deliciosa pizza de pepperoni con mucho queso y salsa."
					price="$59.99"
					img={hamburgesaCPapas}
					altText="Pizza personal"
				/>
			</div>
			<div style="text-align:center; margin-top: 50px;">
				<a href="/menu" class="btn">Ver Menú Completo</a>
			</div>
		</section>
	</main>
</Layout>
